@import '../../assets/styles/variables.scss';

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    background-color: $light-grey;
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}