.movie-card {

    &-container {
        position: relative;
        width: 320px;
        margin: 0 20px 30px;
        color: #ffffff;
    }

    &-metadata {
        display: flex;
        justify-content: space-between;
        padding: 15px 2px 7px;
    }

    &-menu-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background-color: #232323;
        border: none;
        border-radius: 50%;
        opacity: 0;

        img {
            width: 35px;
            height: 35px;
        }
    }

    &-container:hover &-menu-icon {
        opacity: 1;
    }
}