@import '../../assets/styles/variables.scss';

.search-movie-container {
    display: flex;

    .search-movie-btn {
        padding: 15px 65px;
        font-size: 20px;
        background-color: $pink;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}