@import '../../assets/styles/variables.scss';

.header-top-container {
    display: flex;
    justify-content: space-between;
    .add-movie-btn {
		width: 184px;
		height: 48px;
		font-size: 22px;
		background-color: $light-grey;
		color: $pink;
		border: none;
		border-radius: 4px;
		opacity: 0.7;
		cursor: pointer;
        outline: none;
	}

	.close-movie-details {
		display: flex;
		background: transparent;
		border: none;
		cursor: pointer;

		& img {
			height: 25px;
		}
	}
}